html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #313140;
  line-height: 1.5;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 0.9rem;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.year {
  text-align: center;
}

.button--primary a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #313140;
  padding: 0.25rem 0.6rem;
  background: linear-gradient(170deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 20%, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.15);
  background-size: 150%;
  background-position: right;
  transition: 1s;
}
.button--primary a:hover {
  background-position: left;
  color: #c0c0c0;
  box-shadow: inset 0px 3px 5px rgb(255, 255, 255), 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.back-to-top .fa {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  opacity: 0.5;
  position: absolute;
  right: 1rem;
  bottom: 6.5rem;
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 30rem) {
  .back-to-top .fa {
    bottom: 4rem;
  }
}
@media screen and (min-width: 48.75rem) {
  .back-to-top .fa {
    bottom: 2.5rem;
  }
}

.intro__content {
  font-size: 0.9rem;
  margin: 2rem 1.6rem;
  padding: 0 0.8rem 0.8rem 0.8rem;
  border: 2px solid #313140;
  background-color: #ffffff;
}
@media screen and (min-width: 42.5rem) {
  .intro__content {
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 48.75rem) {
  .intro__content {
    margin: 2rem 2.6rem;
  }
}
@media screen and (min-width: 61.25rem) {
  .intro__content {
    margin: 2rem 3.6rem;
  }
}
.intro__image {
  width: 80%;
}
@media screen and (min-width: 30rem) {
  .intro__image {
    width: 70%;
  }
}
@media screen and (min-width: 36.25rem) {
  .intro__image {
    width: 50%;
  }
}
@media screen and (min-width: 42.5rem) {
  .intro__image {
    width: 17.5rem;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.header {
  background-image: linear-gradient(90deg, #ddd6f3, #bbe0d2, #fffcdc);
  background-size: 300% 300%;
  animation: gradient 10s ease infinite;
}
.header__content {
  padding: 0 1.6rem;
}
@media screen and (min-width: 30rem) {
  .header__content {
    padding: 0 2.4rem;
  }
}
@media screen and (min-width: 36.25rem) {
  .header__content {
    padding: 0 3rem;
  }
}
@media screen and (min-width: 42.5rem) {
  .header__content {
    padding: 0 3.9rem;
  }
}
@media screen and (min-width: 67.5rem) {
  .header__content {
    padding: 0 4.5rem;
  }
}
@media screen and (min-width: 72rem) {
  .header__content {
    padding: 0 6rem;
  }
}
@media screen and (min-width: 75rem) {
  .header__content {
    padding: 0 8rem;
  }
}
@media screen and (min-width: 80rem) {
  .header__content {
    padding: 0 10rem;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1.5rem;
  align-items: center;
}
.header__logo a {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 500;
}
@media screen and (min-width: 61.25rem) {
  .header__logo a {
    font-size: 2.5rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.012), 0 2px 2px rgba(0, 0, 0, 0.012), 0 4px 4px rgba(0, 0, 0, 0.012);
  }
}
.header__hero {
  padding: 2rem 0 3.5rem 0;
  font-size: 0.9rem;
}
@media screen and (min-width: 42.5rem) {
  .header__hero {
    padding: 2.5rem 0;
  }
}
@media screen and (min-width: 48.75rem) {
  .header__hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    padding: 4rem 0 7rem 0;
  }
}
@media screen and (min-width: 61.25rem) {
  .header__hero {
    padding-bottom: 8rem;
  }
}
@media screen and (min-width: 67.5rem) {
  .header__hero {
    gap: 3.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .header__hero {
    gap: 4.5rem;
  }
}
.header__image {
  position: relative;
}
.header__image .hero__image {
  width: 100%;
  border-radius: 0.625rem;
  box-shadow: 5px 5px 15px 5px rgba(237, 147, 254, 0.2), -7px 5px 15px 5px rgba(255, 219, 57, 0.2), -5px -5px 15px 5px rgba(118, 248, 255, 0.3), 3px 2px 4px 1px rgba(255, 255, 255, 0.9);
}
.header__about {
  font-size: 1.05rem;
}
.header__cursor {
  display: inline;
  color: #ffffff;
  position: absolute;
  top: 40%;
  left: 35%;
}
.header__cursor--animated {
  animation: blink 1.5s ease-in-out infinite;
}
.header__text h2 {
  font-size: 1.5rem;
}
.header__text h3 {
  font-size: 1.4rem;
}

.menu__list {
  display: flex;
  list-style: none;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: #f6f6f6;
  box-shadow: 0px 2px 4px 0px rgba(14, 30, 37, 0.12), 0px 2px 16px 0px rgba(14, 30, 37, 0.32);
  z-index: 1;
}
@media screen and (min-width: 30rem) {
  .menu__list {
    background-color: transparent;
    position: relative;
    box-shadow: none;
  }
}
.menu__item:not(:last-child) {
  border-right: 0.06rem solid #c0c0c0;
}
@media screen and (min-width: 30rem) {
  .menu__item:not(:last-child) {
    border: none;
  }
}
.menu__item--active::after {
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  background: #ffffff;
}
.menu__link {
  font-family: "Nunito", sans-serif;
  display: block;
  padding: 0.5rem;
  font-size: 0.9rem;
  text-decoration: none;
  color: #313140;
}
@media screen and (min-width: 30rem) {
  .menu__link {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 61.25rem) {
  .menu__link {
    font-size: 1.5rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.012), 0 2px 2px rgba(0, 0, 0, 0.012), 0 4px 4px rgba(0, 0, 0, 0.012);
  }
}
.menu__link:hover {
  text-decoration: underline;
  transition: 1s;
}
@media screen and (min-width: 30rem) {
  .menu__link:hover {
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
  }
}

.portfolio__content {
  padding: 2rem 1.7rem 0.7rem 1.7rem;
}
.portfolio__content h2 {
  font-size: 2rem;
  margin-top: 0;
  font-size: 2rem;
  color: #bbe0d2;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.012), 0 2px 2px rgba(0, 0, 0, 0.012), 0 4px 4px rgba(0, 0, 0, 0.012);
}
.portfolio__content h5 {
  text-align: center;
}
@media screen and (min-width: 48.75rem) {
  .portfolio__content {
    padding: 2rem 2.6rem 0.7rem 2.6rem;
  }
}
@media screen and (min-width: 61.25rem) {
  .portfolio__content {
    padding: 2rem 3.8rem 1rem 3.8rem;
  }
}
@media screen and (min-width: 48.75rem) {
  .portfolio__projects .btn2 {
    grid-column: 3/4;
  }
}
.portfolio__projects .btn2 a:hover {
  color: #c0c0c0;
}
@media screen and (min-width: 30rem) {
  .portfolio__projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media screen and (min-width: 48.75rem) {
  .portfolio__projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 61.25rem) {
  .portfolio__projects {
    gap: 2rem;
  }
}
@media screen and (min-width: 30rem) {
  .portfolio__projects:last-child {
    align-items: center;
    justify-items: center;
  }
}
@media screen and (min-width: 48.75rem) {
  .portfolio__projects:last-child {
    align-items: stretch;
  }
}
.portfolio__project {
  margin: 1rem 0;
  border-bottom: 1px solid #c0c0c0;
}
.portfolio__project h4 {
  text-align: center;
  margin: 0.4rem 0;
}
.portfolio__image {
  width: 100%;
  border-radius: 0.625rem;
  opacity: 0.75;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 3px 3px rgba(0, 0, 0, 0.12);
}
.portfolio__description {
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
}
.portfolio__icons {
  text-align: center;
  margin: 0.5rem 0;
}
.portfolio__icons img {
  width: 2rem;
}
@media screen and (min-width: 48.75rem) {
  .portfolio__btn {
    grid-column: 3/4;
  }
}
.portfolio__links {
  text-align: center;
  margin-bottom: 0.5rem;
}
.portfolio__links a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #313140;
  display: inline-block;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  padding: 0.2rem 0.5rem;
}

.blog {
  background-color: #f6f6f6;
}
.blog__content {
  padding: 2rem 1.6rem;
}
.blog__content h2 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  color: #c0c0c0;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.012), 0 2px 2px rgba(0, 0, 0, 0.012), 0 4px 4px rgba(0, 0, 0, 0.012);
}
@media screen and (min-width: 48.75rem) {
  .blog__content {
    padding: 2rem 2.6rem;
  }
}
@media screen and (min-width: 61.25rem) {
  .blog__content {
    padding: 2rem 3.6rem;
  }
}
.blog__articles .btn1 {
  margin-top: 1rem;
  color: #313140;
}
@media screen and (min-width: 48.75rem) {
  .blog__articles .btn1 {
    grid-column: 3/4;
  }
}
.blog__articles .btn1 a:hover {
  color: #c0c0c0;
}
@media screen and (min-width: 30rem) {
  .blog__articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media screen and (min-width: 48.75rem) {
  .blog__articles {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 30rem) {
  .blog__articles:last-child {
    align-items: center;
    justify-items: center;
  }
}
@media screen and (min-width: 48.75rem) {
  .blog__articles:last-child {
    align-items: stretch;
  }
}
.blog__article {
  width: 100%;
  font-size: 0.9rem;
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 0.625rem;
  padding: 0 0.8rem 0.8rem 0.8rem;
}
.blog__article--more a {
  text-decoration: none;
  color: #313140;
}
.blog__article--more i {
  font-size: small;
  color: #313140;
}
.blog__article--more a:hover i {
  transform: translateX(0.3rem);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.blog__more {
  font-size: 0.9rem;
  text-decoration: none;
}
@media screen and (min-width: 48.75rem) {
  .blog__btn {
    grid-column: 3/4;
  }
}

.contact {
  padding-top: 2rem;
}
.contact h2 {
  color: #ffffff;
  color: #bbe0d2;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.012), 0 2px 2px rgba(0, 0, 0, 0.012), 0 4px 4px rgba(0, 0, 0, 0.012);
  margin: 0;
}
.contact__content {
  padding: 0 1.6rem;
  font-size: 0.9rem;
}
@media screen and (min-width: 48.75rem) {
  .contact__content {
    font-size: 1rem;
  }
}
.contact__content p {
  margin: 0;
}
@media screen and (min-width: 30rem) {
  .contact__content {
    padding: 0 2.4rem;
  }
}
@media screen and (min-width: 42.5rem) {
  .contact__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 2.8em;
  }
}
@media screen and (min-width: 42.5rem) {
  .contact__content {
    padding: 0 3.2em;
  }
}
@media screen and (min-width: 48.75rem) {
  .contact__content {
    padding: 0 3.6rem;
  }
}
@media screen and (min-width: 67.5rem) {
  .contact__content {
    padding: 2rem 3.9rem;
  }
}
@media screen and (min-width: 72rem) {
  .contact__content {
    padding: 2rem 5rem;
  }
}
@media screen and (min-width: 75rem) {
  .contact__content {
    padding: 2rem 7rem;
  }
}
@media screen and (min-width: 80rem) {
  .contact__content {
    padding: 2rem 10rem;
  }
}
@media screen and (min-width: 67.5rem) {
  .contact__left {
    background-color: #f6f6f6;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.012), 0 2px 2px rgba(0, 0, 0, 0.012), 0 4px 4px rgba(0, 0, 0, 0.012);
    border-radius: 0.625rem;
  }
}
.contact__handwritten {
  font-family: "Kalam", cursive;
  text-align: center;
  margin-bottom: 1.5rem;
}
.contact__text {
  text-align: center;
  margin-top: 2.5rem;
}
.contact__social {
  text-align: center;
  padding: 2.5rem 1rem 2rem 1rem;
}
.contact__social i {
  color: #313140;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.012), 0 2px 2px rgba(0, 0, 0, 0.012), 0 4px 4px rgba(0, 0, 0, 0.012);
  font-size: 2rem;
  padding-left: 1rem;
}
.contact__mail {
  color: #313140;
}
.contact__mail:hover {
  color: #c0c0c0;
}
.contact__image {
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.footer__content {
  font-size: 0.8rem;
  text-align: center;
  background-color: #bbe0d2;
}
.footer__content:last-child {
  padding-bottom: 2.5rem;
  padding-top: 1.5rem;
}
@media screen and (min-width: 30rem) {
  .footer__content:last-child {
    padding-bottom: 1.3rem;
  }
}
.footer__text {
  margin: 0;
}
.footer__text a {
  text-decoration: none;
  color: #313140;
  font-weight: 700;
}
.footer__year {
  margin: 0.2rem 0 0 0;
}

.about h1 {
  text-align: center;
  margin-top: 0;
  padding-top: 5rem;
  color: white;
}
.about__content {
  padding: 2rem 1.6rem 2rem 1.6rem;
  font-size: 0.9rem;
}
@media screen and (min-width: 30rem) {
  .about__content {
    padding: 3rem 2.4rem;
  }
}
@media screen and (min-width: 48.75rem) {
  .about__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
.about__1, .about__2, .about__3 {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 0.625rem;
}
.about__1 h2, .about__2 h2, .about__3 h2 {
  text-align: center;
}

.tools__content {
  padding: 2rem 1.6rem;
  text-align: center;
}
.tools__image {
  width: 40px;
  margin: 0.2rem;
}
.tools__text {
  font-size: 0.8rem;
  text-align: center;
}
.tools__btn {
  display: grid;
  grid-template-columns: auto-fit, minmax(100px, 1fr);
}

.custom--btn {
  width: 3.75rem;
  height: 3.75rem;
  display: inline-block;
  padding: 0.4rem;
  margin: 1.1rem;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 50%;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.custom--btn:nth-child(3n) {
  background-color: #fffcdc;
}

.custom--btn:nth-child(3n+1) {
  background-color: #ddd6f3;
}

.cont {
  background-color: #bbe0d2;
}
.cont__text {
  margin: 0;
  padding: 3.5rem 2rem 1rem 2rem;
  text-align: center;
  font-size: 1.1rem;
}
.cont__text:first-child {
  padding-top: 2rem;
}

.form {
  padding: 1rem 2rem 5rem 2rem;
}
@media screen and (min-width: 48.75rem) {
  .form {
    padding: 1rem 5rem 5rem 5rem;
  }
}
@media screen and (min-width: 55rem) {
  .form {
    padding: 1rem 10rem 5rem 10rem;
  }
}
@media screen and (min-width: 61.25rem) {
  .form {
    padding: 1rem 15rem 5rem 15rem;
  }
}
@media screen and (min-width: 80rem) {
  .form {
    padding: 1rem 20rem 5rem 20rem;
  }
}
.form__field {
  margin-bottom: 0.5rem;
}
.form__label {
  flex: 0 0 6rem;
  color: #ffffff;
}
.form__input, .form__text {
  width: 100%;
  padding: 0.5rem 1.5rem;
  outline: none;
}
.form__input__text, .form__text__text {
  flex: 1 1 100%;
  padding: 0.5rem;
  margin-bottom: 5rem;
}
.form__submit {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
@media screen and (min-width: 48.75rem) {
  .form__submit {
    position: relative;
    grid-row: -2/-1;
  }
}
.form__submit--primary {
  grid-column: 2/3;
  font-size: 0.9rem;
  color: #313140;
  padding: 0.5rem 2.5rem;
  margin: 1rem 0;
  background: linear-gradient(170deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 20%, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.15);
  background-size: 150%;
  background-position: right;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 1s;
}
.form__submit--primary:hover {
  background-position: left;
  color: #c0c0c0;
  box-shadow: inset 0px 3px 5px rgb(255, 255, 255), 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.gallery h2 {
  margin: 2rem 0 0 0;
  font-size: 1.5rem;
  color: #c0c0c0;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.012), 0 2px 2px rgba(0, 0, 0, 0.012), 0 3px 3px rgba(0, 0, 0, 0.012);
}
.gallery__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.3rem;
  padding: 3rem 1.6rem;
}
@media screen and (min-width: 30rem) {
  .gallery__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 48.75rem) {
  .gallery__content {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    padding: 3rem 3.6rem;
  }
}
@media screen and (min-width: 72rem) {
  .gallery__content {
    padding: 3rem 6rem;
  }
}
@media screen and (min-width: 75rem) {
  .gallery__content {
    padding: 3rem 8rem;
  }
}
@media screen and (min-width: 80rem) {
  .gallery__content {
    gap: 1rem;
    padding: 3rem 10rem;
  }
}
.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 400ms ease-out;
  cursor: pointer;
}
.gallery__image:hover {
  transform: scale(1.1);
}

.thanks {
  text-align: center;
  height: 100vh;
}
.thanks__text1 {
  color: #bbe0d2;
}
.thanks__text1::before {
  content: "";
  display: block;
  margin: 2rem auto;
  width: 3rem;
  height: 0.1rem;
  background-color: #bbe0d2;
}
.thanks__text2 {
  color: #ddd6f3;
}
.thanks__text3 {
  color: #fffcdc;
}
.thanks__text3::after {
  content: "";
  display: block;
  margin: 2rem auto;
  width: 3rem;
  height: 0.1rem;
  background-color: #fffcdc;
}

.post {
  padding: 0 2rem;
}
@media screen and (min-width: 48.75rem) {
  .post {
    padding: 0 5rem;
  }
}
.post__image {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (min-width: 30rem) {
  .post__image {
    width: 22rem;
  }
}
.post__back a {
  color: #313140;
}/*# sourceMappingURL=style.css.map */