@use 'colors';
@use 'basics';
@use 'mixins';

.about {
  h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 5rem;
    color: colors.$color-white;
    font-size: xx-large;
  }
  &__content {
    padding: 2rem 1.8rem 2rem 1.8rem;
    font-size: basics.$font-size-f3;
    @media screen and (min-width: 30rem) {
      padding: 3rem 2.8rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
    @media screen and (min-width: 55rem) {
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
      padding: 3rem 5.5rem;
    }
    @media screen and (min-width: 80rem) {
      grid-template-columns: repeat(4, 1fr);
      gap: 3rem;
      padding: 3rem 5.5rem;
    }
  }
  &__1,
  &__2,
  &__3,
  &__4 {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgb(31 38 135/12%);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: basics.$border-radius-primary;
    padding: 0 1rem;
    margin-bottom: 1rem;
    @media screen and (min-width: 80rem) {
      margin-bottom: 0;
    }
    h2 {
      text-align: center;
    }
  }
}
.tools {
  &__content {
    // display: grid;
    // grid-template-columns: 2fr 1fr;
    // gap: 2rem;
    padding: 2rem 1.7rem;
    text-align: center;
  }
  &__image {
    width: 40px;
    margin: 0.2rem;
  }
  &__text {
    font-size: basics.$font-size-f3;
    text-align: center;
  }
  &__btn {
    grid-template-columns: (auto-fit, minmax(20px, 1fr));
  }
  &__edu {
    .item--edu p {
      color: colors.$color-darkgrey;
    }
  }
}
.custom--btn {
  width: 7.25rem;
  height: 3.75rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  padding: 0.4rem;
  margin: 1.3rem;
  background-color: colors.$color-primary-1;
  color: colors.$color-white;
  font-size: basics.$font-size-f6;
  border-radius: 10%;
  box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.05), 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
}

.cont {
  background-color: colors.$color-about-bg;
  &__text {
    margin: 0;
    padding: 3.5rem 2rem 1rem 2rem;
    text-align: center;
    font-size: basics.$font-size-f5;
  }
  &__text:first-child {
    padding-top: 2rem;
  }
}
.form {
  padding: 1rem 2rem 5rem 2rem;
  @media screen and (min-width: 48.75rem) {
    padding: 1rem 5rem 5rem 5rem;
  }
  @media screen and (min-width: 55rem) {
    padding: 1rem 10rem 5rem 10rem;
  }
  @media screen and (min-width: 61.25rem) {
    padding: 1rem 15rem 5rem 15rem;
  }
  @media screen and (min-width: 80rem) {
    padding: 1rem 20rem 5rem 20rem;
  }
  &__field {
    margin-bottom: 0.5rem;
  }
  &__label {
    flex: 0 0 6rem;
    color: colors.$color-white;
  }
  &__input,
  &__text {
    width: 100%;
    padding: 0.5rem 1.5rem;
    outline: none;
    &__text {
      flex: 1 1 100%;
      padding: 0.5rem;
      margin-bottom: 5rem;
    }
  }
  &__submit {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    @media screen and (min-width: 48.75rem) {
      position: relative;
      grid-row: -2/-1;
    }
    &--primary {
      grid-column: 2/3;
      font-size: basics.$font-size-f3;
      color: colors.$color-primary-font;
      padding: 0.5rem 2.5rem;
      margin: 1rem 0;
      background: linear-gradient(
        170deg,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.6) 20%,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0) 100%
      );
      @include mixins.shadow-box-1;
      background-size: 150%;
      background-position: right;
      border: none;
      outline: none;
      cursor: pointer;
      transition: 1s;
    }
    &--primary:hover {
      background-position: left;
      color: colors.$color-darkgrey;
      @include mixins.shadow-box-2;
    }
  }
}
