@use 'colors';
@use 'basics';
@use 'mixins';

.about {
  &__content {
    padding: 2rem 1.6rem 2rem 1.6rem;
    font-size: basics.$font-size-f3;
    @media screen and (min-width: 30rem) {
      padding: 3rem 2.4rem;
    }
    @media screen and (min-width: 48.75rem) {
      @include grid(2);
    }
  }
  &__right,
  &__left {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgb(31 38 135/12%);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: basics.$border-radius-primary;
    h1 {
      text-align: center;
    }
  }
}
&__left {
  margin-bottom: 1rem;
  @media screen and (min-width: 48.75rem) {
    margin-bottom: 0;
  }
}
.tools {
  &__content {
    padding: 2rem 1.6rem;
    text-align: center;
  }
  &__image {
    width: 40px;
  }
  &__text {
    font-size: colors.$font-size-f2;
  }
}
.custom--btn {
  width: 60px;
  height: 60px;
  display: inline-block;
  color: colors.$color-white;
  font-size: colors.$font-size-f1;
  padding: 10px;
  border-radius: 50%;
  margin: 10px 15px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.custom--btn:nth-child(3n) {
  background-color: colors.$color-primary-3;
}

.custom--btn:nth-child(3n + 1) {
  background-color: colors.$color-primary-2;
}
.contact {
  &__form {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 3rem;
    @media screen and (min-width: 30rem) {
      padding: 2rem 5rem;
    }
    @media screen and (min-width: 48.75rem) {
      padding: 2rem 15rem;
    }
  }
}
.form {
  @media screen and (min-width: 30rem) {
    @include grid(1);
  }

  &__field {
    display: flex;
    &--email {
      @media screen and (min-width: 48.75rem) {
        grid-column: 1/-1;
      }
    }
    &--text {
      @media screen and (min-width: 48.75rem) {
        grid-column: 1/-1;
      }
    }
  }
  &__label {
    flex: 0 0 100px;
    font-size: basics.$font-size-f3;
    color: colors.$color-white;
  }
  &__input,
  &__text {
    flex: 1 1 100%;
    padding: 0.5rem;
  }
  .submit {
    grid-column: 2/3;
    justify-self: center;
    text-decoration: none;
    font-size: basics.$font-size-f3;
    color: colors.$color-primary-font;
    padding: 0.5rem 2.5rem;
    background: linear-gradient(
      170deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.6) 20%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    @include shadow-box-1;
    background-size: 150%;
    background-position: right;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 1s;
  }
  .primary:hover {
    background-position: left;
    color: colors.$color-white;
    @include shadow-box-2;
  }
}
