@use 'colors';
@use 'basics';

.post {
  padding: 0 2rem;
  @media screen and (min-width: 48.75rem) {
    padding: 0 5rem;
  }
  &__image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @media screen and (min-width: 30rem) {
      width: 22rem;
    }
  }
}
