@use 'colors';
@use 'mixins';

$font-body: 'Open Sans', sans-serif;
$font-header: 'Nunito', sans-serif;
$border-radius-primary: 0.625rem;

$font-size-f1: 0.7rem;
$font-size-f2: 0.85rem;
$font-size-f3: 0.9rem;
$font-size-f4: 1rem;
$font-size-f5: 1.1rem;
$font-size-f6: 1.5rem;
$font-size-f7: 2rem;
$font-size-f8: 2.5rem;

html {
  box-sizing: border-box;
  font-family: $font-body;
  color: colors.$color-primary-font;
  line-height: 1.9;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: $font-size-f3;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.year {
  text-align: center;
}
.button {
  &--primary a {
    text-decoration: none;
    font-size: $font-size-f3;
    color: colors.$color-primary-font;
    padding: 0.25rem 0.6rem;
    background: linear-gradient(
      170deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.6) 20%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    @include mixins.shadow-box-1;
    background-size: 150%;
    background-position: right;
    transition: 1s;
  }
  &--primary a:hover {
    background-position: left;
    color: colors.$color-darkgrey;
    @include mixins.shadow-box-2;
  }
}
.back-to-top .fa {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: colors.$color-white;
  border-radius: 50%;
  text-align: center;
  opacity: 0.5;
  position: absolute;
  right: 1rem;
  bottom: 6.5rem;
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.2);
  @media screen and (min-width: 30rem) {
    bottom: 4rem;
  }
  @media screen and (min-width: 48.75rem) {
    bottom: 2.5rem;
  }
}
.back-to-top .fa::before {
  content: '\f106';
  display: inline-block;
  margin-top: 0.6rem;
}
.back-to-top .fa:active {
  color: colors.$color-white;
}
.intro {
  &__content {
    font-size: $font-size-f3;
    margin: 2rem 1.6rem;
    padding: 0 0.8rem 0.8rem 0.8rem;
    border: 2px solid colors.$color-primary-1;
    background-color: colors.$color-white;
    @media screen and (min-width: 42.5rem) {
      display: flex;
      justify-content: space-evenly;
    }
    @media screen and (min-width: 48.75rem) {
      margin: 2rem 2.6rem;
    }
    @media screen and (min-width: 61.25rem) {
      margin: 2rem 3.6rem;
    }
  }
  &__image {
    width: 80%;
    @media screen and (min-width: 30rem) {
      width: 70%;
    }
    @media screen and (min-width: 36.25rem) {
      width: 50%;
    }
    @media screen and (min-width: 42.5rem) {
      width: 17.5rem;
    }
  }
}
//------------ANIMATIONS------------
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
