@use 'colors';
@use 'basics';
@use 'mixins';

.main-blog {
  background-color: colors.$color-white;
}
.blog {
  &__content {
    padding: 2rem 1.6rem;

    h2 {
      margin: 0 0 1rem 0;
      font-size: 2rem;
      color: colors.$color-primary-2;
      text-align: center;
      @include mixins.shadow-text-primary;
    }

    @media screen and (min-width: 48.75rem) {
      padding: 2rem 2.6rem;
    }
    @media screen and (min-width: 61.25rem) {
      padding: 2rem 3.6rem;
    }
  }
  &__articles {
    @media screen and (min-width: 30rem) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
    @media screen and (min-width: 48.75rem) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__articles:last-child {
    @media screen and (min-width: 30rem) {
      align-items: center;
      justify-items: center;
    }
    @media screen and (min-width: 48.75rem) {
      align-items: stretch;
    }
  }
  &__article {
    width: 100%;
    font-size: basics.$font-size-f3;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid colors.$color-portfolio-bg;
    border-radius: basics.$border-radius-primary;
    padding: 0 0.8rem 0.8rem 0.8rem;
  }
  &__more {
    font-size: basics.$font-size-f3;
    text-decoration: none;
  }
  &__btn {
    @media screen and (min-width: 48.75rem) {
      grid-column: 3/4;
    }
  }
}
