@use 'colors';
@use 'basics';

.main-blog {
  background-color: colors.$color-white;
}
.blog {
  &__content {
    padding: 2rem 1.6rem;

    h2 {
      margin: 0 0 1rem 0;
      font-size: 1.7rem;
      color: colors.$color-primary-2;
      text-align: center;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.012),
        0 2px 2px rgba(0, 0, 0, 0.012);
    }

    @media screen and (min-width: 780px) {
      padding: 2rem 2.6rem;
    }
    @media screen and (min-width: 980px) {
      padding: 2rem 3.6rem;
    }
  }
  &__articles {
    @media screen and (min-width: 480px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
    @media screen and (min-width: 780px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__articles:last-child {
    @media screen and (min-width: 480px) {
      align-items: center;
      justify-items: center;
    }
    @media screen and (min-width: 780px) {
      align-items: stretch;
    }
  }
  &__article {
    font-size: basics.$font-size-mobile;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0.6rem 0.6rem 0.6rem 0 rgba(0, 0, 0, 0.05);
    border: 1px solid colors.$color-portfolio-bg;
    border-radius: basics.$border-radius-primary;
    padding: 0 0.8rem 0.8rem 0.8rem;
  }
  &__more {
    font-size: basics.$font-size-mobile;
    text-decoration: none;
  }
  &__btn {
    @media screen and (min-width: 780px) {
      grid-column: 3/4;
    }
  }
}
