$color-primary-1: #bbe0d2;
$color-primary-2: #ddd6f3;
$color-primary-3: #fffcdc;
$color-primary-font: #313140;
$color-white: #ffffff;
$color-portfolio-bg: #f6f6f6;
$color-lightgrey: #eeeef0;
$color-darkgrey: #c0c0c0;
