@use 'colors';
@use 'basics';

.contact {
  background-color: colors.$color-primary-1;
  &__content {
    padding: 2rem 1.6rem;
    font-size: 0.9rem;
    @media screen and (min-width: 480px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      padding: 0 2.4rem;
    }

    @media screen and (min-width: 580px) {
      padding: 0 2.8em;
    }
    @media screen and (min-width: 680px) {
      padding: 0 3.2em;
    }
    @media screen and (min-width: 780px) {
      // padding: 0 3.6rem;
    }
    @media screen and (min-width: 1080px) {
      padding: 0 3.9rem;
    }
    @media screen and (min-width: 1150px) {
      padding: 0 5rem;
    }
    @media screen and (min-width: 1200px) {
      padding: 0 7rem;
    }
    @media screen and (min-width: 1280px) {
      padding: 0 10rem;
    }
  }
  &__social {
    text-align: center;
    padding-top: 1rem;
    i {
      color: white;
      font-size: 1.3rem;
    }
  }
  &__image {
    width: 100%;
  }
}
