@use 'colors';
@use 'basics';
@use 'mixins';

.contact {
  padding-top: 2rem;
  h2 {
    color: colors.$color-white;
    color: colors.$color-primary-1;
    text-align: center;
    font-size: basics.$font-size-f7;
    @include mixins.shadow-text-primary;
    margin: 0;
  }
  &__content {
    padding: 0 1.6rem;
    font-size: basics.$font-size-f3;
    @media screen and (min-width: 48.75rem) {
      font-size: basics.$font-size-f4;
    }
    p {
      margin: 0;
    }
    @media screen and (min-width: 30rem) {
      padding: 0 2.4rem;
    }
    @media screen and (min-width: 42.5rem) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      padding: 0 2.8em;
    }
    @media screen and (min-width: 42.5rem) {
      padding: 0 3.2em;
    }
    @media screen and (min-width: 48.75rem) {
      padding: 0 3.6rem;
    }
    @media screen and (min-width: 67.5rem) {
      padding: 2rem 3.9rem;
    }
    @media screen and (min-width: 72rem) {
      padding: 2rem 5rem;
    }
    @media screen and (min-width: 75rem) {
      padding: 2rem 7rem;
    }
    @media screen and (min-width: 80rem) {
      padding: 2rem 10rem;
    }
  }
  &__left {
    @media screen and (min-width: 67.5rem) {
      background-color: colors.$color-portfolio-bg;
      @include mixins.shadow-text-primary;
      border-radius: basics.$border-radius-primary;
    }
  }
  &__handwritten {
    font-family: 'Kalam', cursive;
    font-size: basics.$font-size-f2;
    text-align: center;
    margin: auto 2rem 1.5rem 2rem;
  }
  &__text {
    text-align: center;
    margin-top: 2.5rem;
    h4 {
      margin-bottom: 0;
    }
  }
  &__social {
    text-align: center;
    padding: 1.5rem 1rem 2rem 1rem;
    p {
      margin-bottom: 0.5rem;
    }
    i {
      color: colors.$color-primary-font;
      @include mixins.shadow-text-primary;
      font-size: basics.$font-size-f7;
      padding-left: 1rem;
    }
  }
  &__mail {
    color: colors.$color-primary-font;
  }
  &__mail:hover {
    color: colors.$color-darkgrey;
  }

  &__image {
    height: 300px;

    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}
