@use 'colors';
@use 'basics';

.footer {
  &__content {
    font-size: basics.$font-size-f2;
    text-align: center;
    background-color: colors.$color-primary-1;
  }
  &__content:last-child {
    padding-bottom: 2.5rem;
    @media screen and (min-width: 30rem) {
      padding-bottom: 1.3rem;
    }
  }
  &__text {
    margin: 0;
  }
  // &__text:first-child {
  //   margin-top: 0.5rem;
  // }
  &__year {
    margin: 0.2rem 0 0 0;
  }
}
