@use 'colors';
@use 'basics';
@use 'mixins';
.menu {
  &__list {
    display: flex;
    list-style: none;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: colors.$color-portfolio-bg;
    box-shadow: 0px 2px 4px 0px rgba(14, 30, 37, 0.12),
      0px 2px 16px 0px rgba(14, 30, 37, 0.32);
    z-index: 1;
    @media screen and (min-width: 30rem) {
      background-color: transparent;
      position: relative;
      box-shadow: none;
    }
  }
  &__item:not(:last-child) {
    border-right: 0.06rem solid colors.$color-menu-items;
    @media screen and (min-width: 30rem) {
      border: none;
    }
  }
  &__link {
    font-family: basics.$font-header;
    display: block;
    padding: 0.5rem;
    font-size: basics.$font-size-f3;
    text-decoration: none;
    color: colors.$color-primary-font;
    @media screen and (min-width: 30rem) {
      color: colors.$color-white;
      font-size: colors.$font-size-f4;
      font-weight: 500;
    }
    @media screen and (min-width: 61.25rem) {
      font-size: colors.$font-size-f6;
      @include shadow-text-primary;
    }
  }
  &__link:hover {
    text-decoration: underline;
    transition: 1s;
    @media screen and (min-width: 30rem) {
      text-decoration: none;
      border-bottom: 1px solid colors.$color-white;
    }
  }
}
