@use 'colors';
@use 'basics';

.portfolio {
  background-color: colors.$color-portfolio-bg;
  background-color: whitesmoke;

  &__content {
    padding: 2rem 1.6rem;
    h2 {
      margin-top: 0;
      font-size: 2rem;
      color: colors.$color-primary-1;
      text-align: center;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.012),
        0 2px 2px rgba(0, 0, 0, 0.012), 0 4px 4px rgba(0, 0, 0, 0.012);
    }
    @media screen and (min-width: 48.75rem) {
      padding: 2rem 2.6rem;
    }
    @media screen and (min-width: 61.25rem) {
      padding: 2rem 3.6rem;
    }
  }
  &__projects {
    @media screen and (min-width: 30rem) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
    @media screen and (min-width: 48.75rem) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 61.25rem) {
      gap: 2rem;
    }
  }
  //toto zafungovalo na vsetky child, nie iba na posledne:
  &__projects:last-child {
    @media screen and (min-width: 30rem) {
      align-items: center;
      justify-items: center;
    }
    @media screen and (min-width: 48.75rem) {
      align-items: stretch;
    }
  }
  &__project {
    margin: 1rem 0;
    border-bottom: 1px solid colors.$color-menu-items;
    h4 {
      text-align: center;
      margin: 0.4rem 0;
    }
  }

  &__image {
    width: 100%;
    border-radius: basics.$border-radius-primary;
    opacity: 0.75;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
      0 3px 3px rgba(0, 0, 0, 0.12);
  }
  &__description {
    font-size: basics.$font-size-mobile;
    text-align: center;
    margin: 0;
  }
  &__icons {
    text-align: center;
    margin: 0.5rem 0;
    img {
      width: 2rem;
    }
  }

  &__btn {
    @media screen and (min-width: 48.75rem) {
      grid-column: 3/4;
    }
  }

  &__links {
    text-align: center;
    margin-bottom: 0.5rem;
    a {
      font-size: basics.$font-size-mobile;
      text-decoration: none;
      color: colors.$color-primary-font;
      display: inline-block;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
      padding: 0.2rem 0.5rem;
    }
  }
}
