@use 'colors';
@use 'basics';

.thanks {
  text-align: center;
  height: 100vh;
  &__text1 {
    color: colors.$color-primary-1;
  }
  &__text1::before {
    content: '';
    display: block;
    margin: 2rem auto;
    width: 3rem;
    height: 0.1rem;
    background-color: colors.$color-primary-1;
  }
  &__text2 {
    color: colors.$color-primary-2;
  }
  &__text3 {
    color: colors.$color-primary-3;
  }
  &__text3::after {
    content: '';
    display: block;
    margin: 2rem auto;
    width: 3rem;
    height: 0.1rem;
    background-color: colors.$color-primary-3;
  }
}
