<footer>
  <div class="footer__content">
    <div id="wcb" class="carbonbadge"></div>
    <script
      src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js"
      defer
    ></script>
    <p class="footer__text">
      3D ilustrácie:
      <a href="https://icons8.com/illustrations/author/CkHJmwURlxnt"
        >Olha Khomich</a
      >
      a vizuálne prvky:
      <a href="https://icons8.com/illustrations">icons8</a>. Ďakujem/Thank you
      &#127807;
    </p>
    <p class="footer__year">
      <span>© </span><span class="year"></span><span>, Mirka</span>
    </p>
  </div>
</footer>
