<footer>
  <div class="footer__content">
    <p class="footer__text">
      3D illustrations by
      <a href="https://icons8.com/illustrations/author/CkHJmwURlxnt"
        >Olha Khomich</a
      >
      and icons used on web are from
      <a href="https://icons8.com/illustrations">icons8</a>. Thank you &#127807;
    </p>
    <p class="footer__year">
      <span>© </span><span class="year"></span><span>, Mira</span>
    </p>
  </div>
</footer>
