<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item {{ 'menu__item--active' if page.fileSlug === '' }}">
      <a class="menu__link" href="/">Domov</a>
    </li>

    <li
      class="menu__item {{ 'menu__item--active' if page.fileSlug === 'projects' }}"
    >
      <a class="menu__link" href="/projects/">Portfólio</a>
    </li>
  </ul>
</nav>
