<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item">
      <a class="menu__link" href="/">Home</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="/about/">About</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="/projects/">Portfolio</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="/writing/">Writing</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="/hobby/">Hobby</a>
    </li>
  </ul>
</nav>
