<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item {{ 'menu__item--active' if page.fileSlug === '' }}">
      <a class="menu__link" href="/">Domov</a>
    </li>
    <!-- <li
      class="menu__item {{ 'menu__item--active' if page.fileSlug === 'about' }}"
    >
      <a class="menu__link" href="/about/">O mne</a>
    </li> -->
    <li
      class="menu__item {{ 'menu__item--active' if page.fileSlug === 'projects' }}"
    >
      <a class="menu__link" href="/projects/">Portfólio</a>
    </li>
    <!-- <li
      class="menu__item {{ 'menu__item--active' if page.fileSlug === 'writing' }}"
    >
      <a class="menu__link" href="/writing/">Blog</a>
    </li> -->
    <!-- <li
      class="menu__item {{ 'menu__item--active' if page.fileSlug === 'hobby' }}"
    >
      <a class="menu__link" href="/hobby/">Digitálna koláž</a>
    </li> -->
  </ul>
</nav>
