---
layout: layouts/main-template.njk
---

<main>
  <section class="intro">
    <div class="intro__content">
      <h1>{{ title }}</h1>
      <div class="intro__summary">
        <div class="intro__item">
          <i class="fa fa-tag"></i>
          <p>{{ topics }}</p>
        </div>
        <div class="intro__item">
          <i class="fa fa-clock"></i>
          <p>{{ timetoread }}</p>
        </div>
        <p class="intro__meta">
          Published: {{ page.date.toLocaleString('cs-CZ') }}
        </p>
      </div>
    </div>
  </section>
  <article>
    <div class="post">
      <img class="post__image" src="/images/blog/{{ photo }}" alt="{{ alt }}" />
      <p class="post__perex">
        {{ perex }}
      </p>
      {{ content | safe }}
    </div>
    <p class="post__back"><a href="/writing/">Back to writing</a></p>
  </article>
</main>
