<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/4eb1136a11.js"
      crossorigin="anonymous"
    ></script>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header__content">
          <div class="header__inner">
            <div class="header__logo">
              <a href="/">Mirka</a>
            </div>

            {% include 'partials/menu.njk' %}
          </div>
          <div class="header__hero">
            <div class="header__image">
              <img
                class="hero__image"
                src="/images/workspace_new.png"
                alt="Workspace"
              />
              <div class="header__cursor">
                &lt;<span class="header__cursor--animated">_</span>
              </div>
            </div>
            <div class="header__text">
              <h2>Ahoj 👋,</h2>
              <h3>Som Mirka</h3>
              <p class="header__about">
                Navrhujem a tvorím weby. Venujem sa programovaniu. Moje hobby je
                webová grafika. Mixom technických a vizuálnych zručností viem
                pomôcť s webom a vizualizáciou v digitálnom svete.
              </p>
              <p class="header__about">
                Zaujímam sa o digitálnu sustainabilitu a postupy pri tvorbe webu
                s čo najnižším vplyvom na životné prostredie.
              </p>

              <!-- <div class="button button--primary">
                <a href="/about/">more about me...</a>
              </div> -->
            </div>
          </div>
        </div>
      </header>
      <main>
        {{ content | safe }}
        {% include 'partials/back-to-top.njk' %}
      </main>

      {% include 'partials/footer.njk' %}
    </div>
    <script src="/src/script.js"></script>
    <script src="/src/fslightbox.js"></script>
  </body>
</html>
