<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/4eb1136a11.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="css/style.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header__content">
          <div class="header__inner">
            <div class="header__logo">
              <a href="/">Mira</a>
            </div>

            {% include 'partials/menu.njk' %}
          </div>
          <div class="header__hero">
            <div class="header__image">
              <img
                class="hero__image"
                src="/images/workspace.png"
                alt="Workspace"
              />
              <div class="header__cursor">
                &lt;<span class="header__cursor--animated">_</span>
              </div>
            </div>
            <div class="header__text">
              <h2>Hi,</h2>
              <h3>I´m Mira</h3>
              <p class="header__about">
                Aspiring web/front-end developer and designer based in
                Bratislava, Slovakia.
              </p>
              <p>
                I create interactive things with code. I am learning how to do
                it great.
              </p>

              <div class="button button--primary">
                <a href="/about/">more about me...</a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main>
        {{ content | safe }}
      </main>

      {% include 'partials/footer.njk' %}
    </div>
    <script src="/src/script.js"></script>
    <script src="/src/fslightbox.js"></script>
  </body>
</html>
