<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Nunito&family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/4eb1136a11.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/css/style.css" />

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header__content">
          <div class="header__inner">
            <div class="header__logo">
              <a href="/">Mira</a>
            </div>

            {% include 'partials/menu.njk' %}
          </div>
        </div>
      </header>
      <main>
        {{ content | safe }}
        {% include 'partials/back-to-top.njk' %}
      </main>

      {% include 'partials/footer.njk' %}
    </div>
  </body>
  <script src="/src/script.js"></script>
</html>
